*{
    margin: 0px;
    padding: 0px;
}

h1{
    position: relative;
    margin: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-input{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.boxes{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.Back{
    position: absolute;
    padding: 15px 32px;
    font-size: 16px;
    bottom: 30px;
    left: 50%;
}

.learning-options{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.french{
    display: none;
}


.history{
    display: none;
}

.result{
    display: none;
    justify-content: center;
}

.result-text{
    margin-right: 20px;
}

